doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css2?family=Nunito&display=swap", rel="stylesheet")
        each style in assets.css
            link(rel="stylesheet", href=`client/${style}`)
        title NodeJS, Express, Webpack and Pug(view engine)
    body
        .content
            h1.title Boilerplate Project For NodeJS, Express, Webpack and Pug(view engine) 
            img(class="img", src=`client/${assets.images["nodejs.svg"]}`, alt="NodeJS Logo ")
            a(href="/info", class="info") More Info

        each jsFile in assets.js
            script(src=`client/${jsFile}`)